<div id="artists">
  <h2>Your artists</h2>
  <div class="row">
    {{#each model as |artist|}}
      <div class="col-md-3">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h5 class="panel-title">{{artist.name}}</h5>
          </div>
          <div class="panel-body">
            {{#if artist.images}}
            <img src="{{artist.images.[0].url}}" alt="{{artist.name}}" />
            {{else}}
            <img src="/assets/images/placeholder.png" alt="{{artist.name}}">
            {{/if}}
            <p>Followers: {{artist.followers.total}}</p>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>
